.metadata
.buildpath
multi_form_view/__pycache__
consultas/__pycache__
consultas/migrations/
estudio_problemas/__pycache__
estudio_problemas/migrations/
explicacion_situacional/__pycache__
explicacion_situacional/migrations/
plan_integral/__pycache__
plan_integral/migrations/
organizaciones/__pycache__
organizaciones/migrations/
sapic/__pycache__
sapic/settings.py
users/__pycache__
users/migrations/
utils/__pycache__
utils/migrations/
*.*.backup
*.*~
*.swp
*.tar.gz
*.pyc
*.log
*.pydevproject
*.project
*.planner